In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

Load Dataset

In [11]:
df=pd.read_csv('medical_insurance.csv')
df.head()

,person_id,age,sex,region,urban_rural,income,education,marital_status,employment_status,household_size,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,75722,52,Female,North,Suburban,22700,Doctorate,Married,Retired,3,...,0,1,0,1,0,2,0,1,0,0
1,80185,79,Female,North,Urban,12800,No HS,Married,Employed,3,...,0,1,1,0,0,1,0,1,1,0
2,19865,68,Male,North,Rural,40700,HS,Married,Retired,5,...,0,0,1,1,0,2,1,0,1,0
3,76700,15,Male,North,Suburban,15600,Some College,Married,Self-employed,5,...,0,0,0,1,0,0,1,0,0,0
4,92992,53,Male,Central,Suburban,89600,Doctorate,Married,Self-employed,2,...,0,1,0,2,0,1,1,0,1,0

In [12]:
print(f"Dataset Shape: {df.shape}")
print(f"\nFirst Few Rows:")
print(df.head())
print(f"\nData Types:")
print(df.dtypes)
print(f"\nMissing Values:")
missing = df.isnull().sum()
print(missing[missing > 0] if missing.sum() > 0 else "No missing values")
print(f"\nBasic Statistics:")
print(df.describe())

Dataset Shape: (100000, 54)

First Few Rows:
   person_id  age     sex   region urban_rural  income     education  \
0      75722   52  Female    North    Suburban   22700     Doctorate
1      80185   79  Female    North       Urban   12800         No HS
2      19865   68    Male    North       Rural   40700            HS
3      76700   15    Male    North    Suburban   15600  Some College
4      92992   53    Male  Central    Suburban   89600     Doctorate

  marital_status employment_status  household_size  ...  liver_disease  \
0        Married           Retired               3  ...              0
1        Married          Employed               3  ...              0
2        Married           Retired               5  ...              0
3        Married     Self-employed               5  ...              0
4        Married     Self-employed               2  ...              0

   arthritis mental_health proc_imaging_count  proc_surgery_count  \
0          1             0                  1                   0
1          1             1                  0                   0
2          0             1                  1                   0
3          0             0                  1                   0
4          1             0                  2                   0

   proc_physio_count  proc_consult_count  proc_lab_count  is_high_risk  \
0                  2                   0               1             0
1                  1                   0               1             1
2                  2                   1               0             1
3                  0                   1               0             0
4                  1                   1               0             1

   had_major_procedure
0                    0
1                    0
2                    0
3                    0
4                    0

[5 rows x 54 columns]

Data Types:
person_id                        int64
age                              int64
sex                             object
region                          object
urban_rural                     object
income                           int64
education                       object
marital_status                  object
employment_status               object
household_size                   int64
dependents                       int64
bmi                            float64
smoker                          object
alcohol_freq                    object
visits_last_year                 int64
hospitalizations_last_3yrs       int64
days_hospitalized_last_3yrs      int64
medication_count                 int64
systolic_bp                      int64
diastolic_bp                     int64
ldl                            float64
hba1c                          float64
plan_type                       object
network_tier                    object
deductible                       int64
copay                            int64
policy_term_years                int64
policy_changes_last_2yrs         int64
provider_quality               float64
risk_score                     float64
annual_medical_cost            float64
annual_premium                 float64
monthly_premium                float64
claims_count                     int64
avg_claim_amount               float64
total_claims_paid              float64
chronic_count                    int64
hypertension                     int64
diabetes                         int64
asthma                           int64
copd                             int64
cardiovascular_disease           int64
cancer_history                   int64
kidney_disease                   int64
liver_disease                    int64
arthritis                        int64
mental_health                    int64
proc_imaging_count               int64
proc_surgery_count               int64
proc_physio_count                int64
proc_consult_count               int64
proc_lab_count                   int64
is_high_risk                     int64
had_major_procedure              int64
dtype: object

Missing Values:
alcohol_freq    30083
dtype: int64

Basic Statistics:
           person_id            age        income  household_size  \
count  100000.000000  100000.000000  1.000000e+05   100000.000000
mean    50000.500000      47.521500  4.987390e+04        2.430900
std     28867.657797      15.988752  4.680021e+04        1.075126
min         1.000000       0.000000  1.100000e+03        1.000000
25%     25000.750000      37.000000  2.110000e+04        2.000000
50%     50000.500000      48.000000  3.620000e+04        2.000000
75%     75000.250000      58.000000  6.220000e+04        3.000000
max    100000.000000     100.000000  1.061800e+06        9.000000

          dependents            bmi  visits_last_year  \
count  100000.000000  100000.000000      100000.00000
mean        0.898380      26.990512           1.92765
std         0.950654       4.994883           1.73773
min         0.000000      12.000000           0.00000
25%         0.000000      23.600000           1.00000
50%         1.000000      27.000000           2.00000
75%         1.000000      30.400000           3.00000
max         7.000000      50.400000          25.00000

       hospitalizations_last_3yrs  days_hospitalized_last_3yrs  \
count               100000.000000                100000.000000
mean                     0.093640                     0.373350
std                      0.304848                     1.373011
min                      0.000000                     0.000000
25%                      0.000000                     0.000000
50%                      0.000000                     0.000000
75%                      0.000000                     0.000000
max                      3.000000                    21.000000

       medication_count  ...  liver_disease      arthritis  mental_health  \
count     100000.000000  ...  100000.000000  100000.000000  100000.000000
mean           1.236320  ...       0.014770       0.108310       0.130140
std            1.209358  ...       0.120632       0.310773       0.336459
min            0.000000  ...       0.000000       0.000000       0.000000
25%            0.000000  ...       0.000000       0.000000       0.000000
50%            1.000000  ...       0.000000       0.000000       0.000000
75%            2.000000  ...       0.000000       0.000000       0.000000
max           11.000000  ...       1.000000       1.000000       1.000000

       proc_imaging_count  proc_surgery_count  proc_physio_count  \
count       100000.000000       100000.000000      100000.000000
mean             0.508530            0.158690           0.508390
std              0.749755            0.463562           0.747218
min              0.000000            0.000000           0.000000
25%              0.000000            0.000000           0.000000
50%              0.000000            0.000000           0.000000
75%              1.000000            0.000000           1.000000
max              7.000000            6.000000           7.000000

       proc_consult_count  proc_lab_count   is_high_risk  had_major_procedure
count        100000.00000   100000.000000  100000.000000        100000.000000
mean              0.50933        0.509140       0.367810             0.169700
std               0.75363        0.750455       0.482212             0.375371
min               0.00000        0.000000       0.000000             0.000000
25%               0.00000        0.000000       0.000000             0.000000
50%               0.00000        0.000000       0.000000             0.000000
75%               1.00000        1.000000       1.000000             0.000000
max               7.00000        7.000000       1.000000             1.000000

[8 rows x 44 columns]

Data Preprocessing

In [14]:
df.isnull().sum()

person_id                          0
age                                0
sex                                0
region                             0
urban_rural                        0
income                             0
education                          0
marital_status                     0
employment_status                  0
household_size                     0
dependents                         0
bmi                                0
smoker                             0
alcohol_freq                   30083
visits_last_year                   0
hospitalizations_last_3yrs         0
days_hospitalized_last_3yrs        0
medication_count                   0
systolic_bp                        0
diastolic_bp                       0
ldl                                0
hba1c                              0
plan_type                          0
network_tier                       0
deductible                         0
copay                              0
policy_term_years                  0
policy_changes_last_2yrs           0
provider_quality                   0
risk_score                         0
annual_medical_cost                0
annual_premium                     0
monthly_premium                    0
claims_count                       0
avg_claim_amount                   0
total_claims_paid                  0
chronic_count                      0
hypertension                       0
diabetes                           0
asthma                             0
copd                               0
cardiovascular_disease             0
cancer_history                     0
kidney_disease                     0
liver_disease                      0
arthritis                          0
mental_health                      0
proc_imaging_count                 0
proc_surgery_count                 0
proc_physio_count                  0
proc_consult_count                 0
proc_lab_count                     0
is_high_risk                       0
had_major_procedure                0
dtype: int64

In [ ]:
df['alcohol_freq'].fillna('Occasional', inplace=True)

Unique values in alcohol_freq:
alcohol_freq
Occasional    45078
Weekly        19833
Daily          5006
Name: count, dtype: int64

Null values: 30083

In [16]:
# Fill null values in alcohol_freq with the mode (most frequent value)
mode_value = df['alcohol_freq'].mode()[0]
df['alcohol_freq'].fillna(mode_value, inplace=True)

print(f"Filled null values with: {mode_value}")
print(f"Remaining null values: {df['alcohol_freq'].isnull().sum()}")
print(f"\nUpdated value counts:")
print(df['alcohol_freq'].value_counts())

Filled null values with: Occasional
Remaining null values: 0

Updated value counts:
alcohol_freq
Occasional    75161
Weekly        19833
Daily          5006
Name: count, dtype: int64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_23212\813491754.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['alcohol_freq'].fillna(mode_value, inplace=True)

In [17]:
# Verify no null values remain in the entire dataset
print("Total null values in dataset:")
null_check = df.isnull().sum()
print(f"Total: {null_check.sum()}")
print(f"\nDataset shape: {df.shape}")

Total null values in dataset:
Total: 0

Dataset shape: (100000, 54)